.todo{
    background-color: darkcyan;
    margin-top: 50px;
}

.todo1{
    background-color: antiquewhite;
    display: inline-flex;
    width: 99.8%;
}

.ladin{
    margin-left: 10px;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 29px;
}

.lado{
    margin-left: 640px;
    margin-top: 30px;
}

.lado1{
    margin-left: 30px;
    margin-top: 30px;
}

button{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

button:hover{
    background-color: darkcyan;
    color: whitesmoke;
}

.gelim{
    height: 550px;
    width: 1517px;
}
